.show-location .home-ui {
    display: none;
}

.show-home .location-ui {
    display: none;
}

#searchResultList
{
    height: 100%;
}

    #searchResultList .win-container {
        background: #0f0;
        margin-left:0;
        margin-right:-10px;
    }

    #searchResultList .win-item {
        background: none;
        padding: 30px;
        margin:0;
        font-size: 2em;
        color: #999;
    }

        #searchResultList .win-item .city {
            color: #fff;
        }

        #searchResultList .win-item .country {
            font-size: 0.6em;
        }
